* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", serif;
  background: #1a1a1a;
  color: #f5f5f5;
  user-select: none;
}
// ====================
@mixin fitMargin0 {
  width: fit-content;
  margin-inline: auto;
}
