#clock {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  .wrap {
    .time {
      @include fitMargin0;
      font-family: "Share Tech Mono", monospace;
      font-size: 16vw;
      display: flex;
      align-items: center;
      font-weight: 600;
      .colon {
        transform: translateY(-7%);
      }
      .time_t {
        margin-left: 0.3em;
      }
    }
    .date {
      @include fitMargin0;
      margin-top: 1em;
      font-size: 6vw;
    }
  }
}
